/*/////////| BODY =-*/
body {
    background-color: black;
    color: white;
    margin: 0;
    height: 0;
}

/*/////////| WRAPPER =-*/
.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

/*/////////| MAIN CALC BOX =-*/
.calcBox {
    width: 600px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
}

/*/////////| TWO UPPER DISPLAYS =-*/
.calcBox .displayBox {
    width: 590px;
    font-size: 4rem;
    font-family: 'Khand';
    padding: 5px;
    font-weight: 300px;
    font-size: 3rem;
}

/*/////////| UPPER CALCULATION DISPLAY =-*/
.calcBox .displayBox .disp {
    border: 1px solid rgba(155, 135, 255, 0.5);
    border-radius: 15px;
    text-align: right;
    justify-content: end;
    height: 75px;
    padding: 0 10px 0px;
    color: rgba(055, 150, 200, 1.75);
}

/*/////////| LOWER RESULTS DISPLAY =-*/
.calcBox .displayBox .results {
    border: 1px solid rgba(155, 255, 135, 0.5);
    border-radius: 15px;
    text-align: right;
    height: 75px;
    margin: 10px 0 0;
    padding: 0 10px 0px;
    color: rgba(155, 250, 100, 0.75);
}

.buttonBox {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 80px 80px 80px 80px 80px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    user-select: none;
}

.buttonBox > * {
    cursor: pointer;
    background-color: black;
}

.buttonBox .pads {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    display: grid;
    align-content: center;
    justify-content: center;
    border: 1px solid rgba(155, 250, 100, 0.75);
    border-radius: 15px;
    transition: 0.2s;
}

.buttonBox .pads:hover {
    background-color: rgba(212,255,151, 0.1);
    box-shadow: inset 0 0 5px white, 0 0 10px rgb(212,255,151);
}

.blinkNumber {
    font-size: 2rem;
    box-shadow: inset 0 0 15px black, 0 0 10px rgb(252, 162, 255);
    background-color: rgba(151, 255, 168, .5);
}

.blinkOperator {
    font-size: 2rem;
    box-shadow: inset 0 0 15px black, 0 0 10px rgb(252, 162, 255);
    background-color: rgba(255, 116, 225, 0.5);
}

.buttonBox .funcs {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    display: grid;
    align-content: center;
    justify-content: center;
    border: 1px solid rgba(200, 150, 200, 0.75);
    border-radius: 15px;
}